<h2>List of Transactions</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Amout</th>
      <th>Timestamp</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactions">
      <td>{{ transaction.id }}</td>
      <td>{{ transaction.title }}</td>
      <td
        [ngClass]="{
          debit: transaction.type === 'DEBIT',
          credit: transaction.type === 'CREDIT'
        }"
      >
        {{ transaction.amount | currency: "KES" }}
      </td>
      <td>{{ transaction.timestamp | date: "dd MMM yyy HH:mm:ss" }}</td>
      <td>
        <a [routerLink]="['../', transaction.id]">View</a>
      </td>
    </tr>
  </tbody>
</table>
