<div class="transactions-view">
  <h2>List of Transactions</h2>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">No.</th>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Amount</th>
        <th scope="col">Timestamp</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let transaction of transactions; index as num"
        [ngClass]="{
          'table-success': transaction.type === 'CREDIT',
          'table-danger': transaction.type === 'DEBIT'
        }"
      >
        <th scope="row">{{ num + 1 }}</th>
        <td>{{ transaction.id }}</td>
        <td>{{ transaction.title }}</td>
        <td>
          {{ transaction.amount | currency: "KES" }}
        </td>
        <td>{{ transaction.timestamp | date: "dd MMM yyy HH:mm:ss" }}</td>
        <td>
          <a [routerLink]="['/transactions/', transaction.id]">View</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
