mat-toolbar {
  color: inherit;
  display: flex;
  justify-content: space-between;
  font-family: var(--primaryFont);
  font-size: medium;
  box-shadow: var(--modalShadow);
}

span.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
  margin-right: 1em;
}

a.active {
  border-bottom: 2px solid var(--black);
  font-weight: bold;
}

a.cta {
  border-radius: 10px;
  padding: 0.75em 1.2em;
  background-color: var(--black);
  color: var(--white);
  text-decoration: none;
  margin-right: 0;
}

a.cta:hover,
a.cta.active {
  border: none;
  /* will think of sumthin */
}
