div.copyright {
  opacity: 0.2;
  position: absolute;
  bottom: 10px;
  right: auto;
  color: var(--primaryBGColor);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

div.copyright:hover {
  opacity: 1;
  color: var(--black);
}

a {
  text-decoration: none;
  color: inherit;
  border-radius: 10px;
}
