:root {
  /* colors */
  --primaryBGColor: #d8d8d8;
  --primaryTextColor: #2b2b2b;
  --black: #000;
  --lightBlack: #313131;
  --grey: #ccc;
  --lightGrey: rgb(233, 233, 233);
  --white: #fff;

  /* fonts */
  --primaryFont: "VictorMono Regular";
  --primaryFontItalic: "VictorMono Italic";
  --primaryFontBold: "VictorMono Bold";
}

@font-face {
  font-family: "VictorMono Regular";
  src: url("./assets/fonts/VictorMono-Regular.otf") format("opentype");
}

@font-face {
  font-family: "VictorMono Italic";
  src: url("./assets/fonts/VictorMono-Italic.otf") format("opentype");
}

@font-face {
  font-family: "VictorMono Bold";
  src: url("./assets/fonts/VictorMono-Bold.otf") format("opentype");
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: small;

  background-color: var(--primaryBGColor);
  color: var(--primaryTextColor);
}

* {
  box-sizing: border-box !important;
  font-family: var(--primaryFont);
}

div,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

.ease-in-out {
  transition: ease-in-out all 0.15s;
}
